* {
    margin: 0;
    padding: 0;
    
}

.body {
    margin: auto;

}

body {
    background-color: white;
    margin: auto;
}
/*The header styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    color: white;
    font-family: "Helvetica Neue", Arial, sans-serif;
    position: fixed;
    z-index: 10;
    top: 0;
    transition: all .25s ease-in-out;
}

a {
    text-decoration: none;
    color: white;
}
#logo {
    height: 30px;
    margin: 15px;
    
}

.right-side-header {
    display: flex;
}

.right-inside-header {
    margin: auto 20px;
}

#sign-in:hover {
    text-decoration: underline;
}

#sign-up {
    background-color: rgb(255, 51, 102);
    padding: 5px 25px;
    border-radius: 20px;

    
}

.header-animation {
    background-color: white !important;
    transition: all 2s ease;
}

#hamburger-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 12;
}

.hamburger-inside {
    width: 20px;
    height: 1px;
    background-color: white;
    margin: 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.drop-down-menu {
    height: 1000px;
    width: 0px;
    position: absolute;
    z-index: 11;
    right: 0;
    top: -9px;
    background-color: white;
}

.drop-down-animation {
    display: block;
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
    width: 500px;
    transition: all .25s ease-in-out;
}

.drop-down-animation-gone {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;

    width: 0px;
    transition: all .25s ease-in-out;
}

.drop-list {
    list-style-type: none;
    width: 510px;
    margin-bottom: 50px;
    margin-top: 20px;
    color: black;
    font-size: 18px;
    
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 5px;
    margin-bottom: 2px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.drop-down-menu a {
    color: black;
    margin: 80px;
}

.drop-down-menu a:hover {
    text-decoration: underline;
}

#compact-logo img {
    height: 40px;
    width: 40px;
}
 /* video and stuff on top of it*/

 


.video video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 825px;
    object-fit: cover;
    filter: brightness(30%);
}

.slogan-container {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
    color: white;
    font-size: 18px;
    top: 200px;
    margin: 0px auto;
    width: 650px;
    position: relative;
    z-index: 1;
    text-align: center;
}

#slogan {
    width: 350px;
    margin: 10px auto;
    font-size: 40px;
}

#after-slogan {
    margin: 5px auto 40px auto;
}

.btn {
    display: inline-block;
    margin: 10px;
    width: 200px;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
}

#get-started {
    background-color: rgb(255, 51, 102);
    cursor: pointer;
}

#demo {
    border-style: solid;
    transition: .4s;
    cursor: pointer;
}

#demo:hover {
    background-color: white;
    border-color: white;
    color: rgb(255, 51, 102);
}

#video-btn {
    position: relative;
    margin: 20px auto;
    border-style: solid;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: .4s;
    cursor: pointer;
} 

#play-icon {
    top: 20px;
    left: 21px;
    position: relative;
    height: 0px;
    width: 0px;
    border-top: 5px solid transparent;
    border-left: 10px solid white;
    border-bottom: 5px solid transparent;
}

#video-btn:hover {
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
}

.play-video-container {
    position: absolute;
    z-index: 20;
    top: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    display: none;
}

#video {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#x-button {
    position: absolute;
    right: 0;
    height: 25px;
    width: 50px;
    background-color: darkgray;
    border-radius: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

#x-button:hover {
    background-color: gray;
}

#play-video {
    position: relative;
    height: 400px;


}
/* end of video stuff */
/* companies logos */

.company-container {
    position: relative;
    top: 440px;
    display: flex;
    justify-content: space-evenly;
}

.company-image {
    height: 25px;
    margin: 20px 40px; 
}
/* end company logos */

.cloud-container {
    margin-top: 500px;
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cloud-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.cloud-header {
    display: inline-block;
}

#cloud-period {
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: rgb(255, 51, 102);

}

.cloud-gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px auto 0 auto;
}

.cloud-image-container {
    display: flex;
    font-size: 27px;
    margin: 50px auto;
}

.cloud-image {
    height: 400px;
    margin-right: 15px;
}

.cloud-text-container {
    width: 305px;
    font-family: "Aktiv Grotesk", -apple-system, system-ui,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
    font-size: 25px;
}



.text-images {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}

#red-square {
    background-color: rgb(255, 51, 102);
    height: 30px;
    width: 30px;
    border-style: none;
}

#white-square {
    background-color: white;
    height: 7px;
    width: 7px;
    position: relative;
    top: 19px;
    left: 19px;
}

.text-images img {
    height: 33px;
    margin-left: 5px;
}


#diamond-container {
    height: 50px;
    width: 50px;
}

#orange-diamond {
    object-fit: cover;
    object-position: -15px;
    
}

.cloud-text-container p {
    font-size: 22px;
}

.frank-quote {
    display: flex;
    margin-top: 10px;
}

#frank-yoo-actual-quote {
    color: grey;
}

.frank-quote img {
    
    margin-right: 30px;
    height: 60px;
}

.frank-text h4 {
    font-size: 20px;
}

#head-of-product-design {
    color: grey;
}